body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

header {
    display: block;
    width: 100%;
    min-height: 4.24em;
    margin: 0;
    padding: 0;
    color: white;
    background-color: blue;
    height: auto;
    border-bottom: 0.24em solid teal;
}

h1 {
    font-size: 1.72em;
    font-family: sans-serif;
    margin: 0;
    padding-top: 0.24em;
    padding-left: 0.24em;
    height: 100%;
    text-transform: uppercase;
}

section {
    display: block;
    position: relative;
    height: auto;
}

form {
    margin: 0;
    padding: 0;
}

p {
    padding: 1.24em;
}

a {
  text-decoration: none;
}

nav {
    position: absolute;
    display: block;
    bottom: 1.0em;
    margin-top: 10em;
    padding-left: 0.24em;
    width: 100%;
    background-color: orange;
}

nav ul {
  list-style-type: none;
}

nav ul > li > a, nav ul > li > a:link, nav ul > li > a:visited, nav ul > li > a:active, nav ul > li > a:hover, nav ul > li > a:focus{
  text-decoration: none;
  color: white;
}

footer {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-top: 0.24em solid teal;
    text-align: center;
    color: white;
    background-color: blue;
}
