/*
 * These are classes for general layout
 */
body {
   padding: 0em;
   margin: 0.24em;
   font-size: 16px;
}

h1 {
    text-font-size: 1em;
    text-transform: uppercase;
}
.unified-search {
    max-width: 80%;
    padding: 0.0em;
    margin: 0.0em;
}

.unified-search-resources {
    display: inline-block;
    vertical-align: top;
    min-width: 20%;
}

.unified-search-resources ul {
    list-style-type: none;
    min-width: 35%;
}

.unified-search-resources a:visited a:active a:link a:hover a:target {
    color: blue;
}

.unified-search-resources a {
    text-decoration: none;
}

.unified-search-filter {
    display: inline-block;
    vertical-align: top;
    min-width: 20%;
}

.unified-search-filter ul {
    list-style-type: none;
}

.unified-search-filter a {
    text-decoration: none;
}

.unified-search-filter a:visited a:active a:link a:hover  a:target {
    color: blue;
}

.unified-search-box {
    min-width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-top: 1em;
}

.unified-search-box input {
    vertical-align: bottom;
}

.unified-search-icon {
    vertical-align: top;
}

/*
 * These are classes to attach visual behavoir
 */
.hidden {
    visible: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0px !important;
    border: 0px none !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.selected {
    border: 1 px orange;
    background-color: orange;
}
