/**
 * usb.css - the design for the Unified Search Box.
 */
.usb-hide {
    display: none;
    visibility: hidden;
}

.usb-no-js {
    display:block;
}

.usb-searchbox {
    display: block;
    position: relative;
    padding: 1.0em;
    color: black;
    background-color: white;
}

.usb-search-resources, .usb-search-filters {
    position: relative;
    display: inline-flex;
    margin: 1em;
    width: 20em;
    height: auto;
}

.usb-search-resources span, .usb-search-filters span {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 16em;
    height: auto;
    padding: 0.32em;
    text-align: left;
    vertical-align: middle;
    background-color: #EEF2FB;
    z-index: 1;
}

.usb-menu-select-button svg {
    position: relative;
    display: inline-block;
    top: 0;
    left: 15em;
    padding: 0.24em;
    width: 1.24em;
    height: 1.24em;
    background-color: #EEF2FB;
    z-index: 2;
}

.usb-menu-label, .usb-query-label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-top: 0.42em; 
    padding-right: 0.42em;
    min-width: 3.42em;
    color: black;
    background-color: white;
    text-align: right;
}


.usb-menu ul {
    position: absolute;
    display: none;
    z-index: 10;
    list-style-type: none;
    background-color: inherit;
    border: 1px solid white;
    box-shadow: 0.24em 0 0.24em #043584;
    margin: 0;
    padding: 0;
    min-width: 16em;
    height: auto;
}

.usb-menu ul li {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 0.12em solid #043584;
}

.usb-menu ul li > span {
    position:relative;
    display: block;
}

.usb-menu-item-selected, .usb-menu-item-selected span, .usb-menu-item-selected a, .usb-menu-item-selected a:link, .usb-menu-item-selected a:visited {
    background-color: lightgrey;
}


.usb-menu ul li:last-child {
    border-bottom: none;
}

.usb-menu-selected {
    position: relative;
    display: inline-flex;
    padding-left: 0.24em;
}

.usb-menu-select-button {
    position: relative;
    display: inline-flex;
    width: 1.24em;
}



.usb-menu-item-primary {
    display: block;
    font-weight: bold;
    text-transform: none;
    text-align: left;
}

.usb-menu-item-primary a, .usb-menu-item-primary a:link, .usb-menu-item-primary a:active {
    text-decoration: none;
    color: black;
    background-color: #EEF2FB;
}

.usb-menu-item-primary a:hover, .usb-menu-item-primary a:focus, .usb-menu-item-secondary a:visited {
    text-decoration: none;
    color: white;
    background-color: #043584;
}

.usb-menu-item-secondary {
    display: block;
    font-weight: lighter;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.usb-search-query {
    position: relative;
    display: inline-flex;
}


.usb-query-input {
    display: inline-flex;
    position: relative;
    min-width: 20%;
    max-width: 60%;
}

.usb-query-input > form {
    position: relative;
    display: inline-flex;
}

.usb-query-input > form > input {
    position: relative;
    display: inline-block;
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
    font-size: 1.0em;
    text-align: left;
    height: 2em;
    top: 0.1em;
    -webkit-appearance: none;/* Fix to allow styling in webkit */
}

.usb-query-input > form > button {
    position: relative;
    display: inline-block;
    min-width: 3.42em;
    margin-left: 0.42em;
    font-size: 1em;
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
    text-align: center;
}

