/**
 * usb.css - the design for the Unified Search Box.
 */

.hide {
    display: none;
    visibility: hidden;
}

.usb-searchbox {
    display: block;
    position: relative;
    padding: 1.0em;
    color: black;
    background-color: white;
}

.usb-search-resources {
    position: relative;
    display: inline-flex;
    margin: 0.24em;
    width: 30%;
}

.usb-search-resources label {
    position: relative;
    display: inline-flex;
    width: auto;
    height: 3.0em;
    padding: 0.24em;
    text-align: right;
}

.usb-search-resources div {
    position: relative;
    display: inline-flex;
    width: 92%;
    height: 3.0em;
    padding: 0.24em;
}

.usb-search-filters {
    position: relative;
    display: inline-flex;
    margin: 0.24em;
    width: 25%;
}

.usb-search-filters label {
    position: relative;
    display: inline-flex;
    width: auto;
    height: 3.0em;
    padding: 0.24em;
    text-align: right;
}

.usb-search-filters div {
    position: relative;
    display: inline-flex;
    width: 92%;
    height: 3.0em;
    padding: 0.24em;
}

.usb-menu {
    position: relative;
    margin-left: 0.52em;
    min-width: 20%;
    height: auto;
    font-size: 1.0em;
    color: black;
    background-color: #EEF2FB;
    border-radius: 0.48em;
}

.usb-menu ul {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    list-style: none;
    margin: 2.72em;
    padding: 0.24em;
    border: 0.12em solid blue;
    background-color: inherit;
    box-shadow: 0.12em 0.12em #043584;
}

.usb-menu ul li {
    border-bottom: 0.12em solid #043584;
}

.usb-menu ul li: last-child {
    border: none;
}

.usb-menu-selected {
    position: relative;
    display: inline-block;
    width: 90%;
    padding-left: 2%;
}

.usb-menu-select-button {
    position: relative;
    display: inline-block;
    width: 4%;
    font-family: helvetica;
    text-decoration: none;
    text-align: center;
}

.usb-menu-select-button svg {
    position: relative;
    display: inline-flex;
    padding: 0.24em;
    width: 1.24em;
    height: 1.24em;
    fill: white;
}

.usb-menu-label {
    display: inline-block;
    position: relative;
}

.usb-menu-item-primary {
    display: block;
    font-weight: bold;
    text-transform: none;
    text-align: left;
}

.usb-menu-item-primary a, .usb-menu-item-primary a: link, .usb-menu-item-primary a.active, .usb-menu-item-secondary a: visited {
    text-decoration: none;
    color: black;
    background-color: #EEF2FB;
}

.usb-menu-item-primary a: hover, .usb-menu-item-primary a: focus {
    text-decoration: none;
    color: white;
    background-color: #043584;
}

.usb-menu-item-secondary {
    display: block;
    font-weight: lighter;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.usb-menu-item-selected {
    text-decoration: underline;
}

.usb-search-query {
    position: relative;
    display: inline-flex;
}

.usb-query-label {
    margin-right: 0.52em;
    width: auto;
    height: 2em;
    padding: 0.24em;
}

.usb-query-input {
    display: inline-flex;
    position: relative;
    min-width: 20%;
    max-width: 60%;
}

.usb-query-input > .usb-menu-label {
    padding: 1.52;
}

.usb-query-input > input[type=search] {
    width: auto;
    height: auto;
}

.usb-more-search-tools {
    position: absolute;
    display: inline-flex;
    top: 2.72em;
    left: 33%;
    width: 100%;
    height: 2em;
    padding: 0.24em;
    text-align: center;
}

.usb-more-search-tools a {
    color: blue;
}

